*{

    font-family: Arial, sans-serif;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
}
 h4{
    text-align: center;
 }
  nav {
    background-color: antiquewhite;
    
  }
  nav a:hover {
    background-color:  rgb(10, 164, 178);
    padding: 30px;
  }
.logo-img {
    width: 99px;
    cursor: pointer;
}

.link li a{
    transition: 0.1s ease-in-out;
    color: black;
    text-align: center;
    position: relative;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px ;
    z-index: 1;
    width: 100%;
}
.link{
    list-style: none;
    display: flex;
}
.link li{
    padding: 0 19px;
    margin-bottom: 20px;
}
h2{
    text-align: center;
}
button{
    margin-left: 570px;
    border-radius: 20px;
    padding: 20px;
    border-style: dotted groove;
    padding-left: 100px;
    padding-right: 100px;
}
button:hover{
    transition: 2s;
    color: antiquewhite;
    background-color: rgb(40, 36, 36);
}
button:active{
    color: rgb(3, 84, 215);
    background-color:rgb(14, 217, 0) ;
    transition: 0.3s;
}